# Local Syncing Scripts
win_sync.ps1
sync.sh
create_startup.ps1
silent_launch.vbs
test/win_sync.ps1

# Generated local artifacts
SD-Logging/outputs/

# Generated local artifacts
test/rotational_mode/rotational_mode_test/build/
